body {
    margin: 0;
    overflow: hidden !important;
}

.text {
    color: white;
    position: absolute;
    top: 25%;
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Montserrat', Sans-Serif;
    font-size: 1.5rem
}


/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

  
}
@media (min-width: 768px) {
    

}




